.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  &__null {
    @media screen and (max-width: $screen-md) {
      display: none;
    }
  }
  &__logo {
    width: 100px;
  }
}
